@media (max-width: 800px) {
  .logo {
    width: 80px;
  }
  .icon,
  .item p:last-of-type,
  .flex {
    display: none;
  }
  .dropdown {
    display: flex;
    align-items: center;
  }
  .dropdown-menu[data-bs-popper] {
    left: -75px;
  }
  a {
    text-decoration: none;
  }
  .menu button {
    margin: 5px;
    width: 50%;
    width: 200px;
  }
  .medida {
    height: 250px;
  }
  .ventas {
    display: flex;
    flex-wrap: wrap;
  }
  .productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .item {
    width: 45%;
  }
  .item h3 {
    font-size: 1.1em;
  }
  footer .footer-container {
    flex-direction: column;
    text-align: center;
  }

  footer .footer-section {
    margin: 20px 0;
    flex: 0;
  }
}
