@font-face {
  font-family: "Xiaomi";
  src: url(../fonts/MiSans-Latin.woff2) format("woff");
}

@font-face {
  font-family: "XiaomiBold";
  src: url(../fonts/SourceSansPro-Bold.ttf) format("truetype"),
    url(../fonts/SourceSansPro-Bold.woff) format("woff");
}

body {
  margin: 0;
  font-family: "Xiaomi";
}

header {
  display: flex;
  width: 100%;
  height: 50px;
  flex-direction: column;
}

.banner {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  width: 100%;
  padding: 10px;
}

.navegador {
  display: flex;
  flex-direction: row;
  padding: 2px;
}
/* parque izquierda del nav */
.menu1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}
.menu1 img {
  width: 30px;
}

.lista1 {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0%;
}

.lista1 li {
  padding-left: 45px;
}

/* parte derecha del nav */
.menu2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
}

main {
  display: flex;
  flex-direction: column;
}

/* Primera parte del main */
.principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
  font-size: 1.3rem;
}

.flecha {
  width: 40px;
}

.mensaje1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.mensaje2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.letra {
  font-size: 3.2rem;
  font-family: "XiaomiBold";
}

button {
  background-color: black;
  color: white;
  text-align: center;
  width: 150px;
  height: 40px;
  border-radius: 12px;
  margin-right: 10px;
}

.saltoLinea {
  width: 100%;
}

/* SLIDER */

.slider {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.elemento {
  width: 100px;
  height: 2px;
  background-color: #e9e9e9;
  margin-right: 20px;
}

.elemento:nth-child(3) {
  background: linear-gradient(to right, orange 40%, #e9e9e9 25%);
}

/* SEGUNDA PARTE DEL MAIN */
.secundaria {
  background-color: #e9e9e9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

.letra2 {
  font-size: 2rem;
  font-family: "XiaomiBold";
  margin: 20px;
}

.lista2 {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0%;
}

.lista2 li {
  padding-left: 60px;
}

.lista2 li:hover {
  color: rgb(236, 131, 10);
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 1.15rem;
  text-decoration-thickness: 3px;
}

.blanco {
  background-color: white;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: row;
  width: 70%;
}

.gris {
  background-color: #e9e9e9;
  border-top-right-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blanco img {
  border-top-left-radius: 10px;
  width: 70%;
}

.mensaje3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.letra3 {
  font-size: 1.8rem;
  font-family: "XiaomiBold";
}
/* FOOTER LISTAS */
footer {
  background-color: black;
  color: rgb(127, 126, 126);
}

.informacion {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  padding: 60px 50px 60px 10px;
  font-size: 1.2rem;
}

.lista3 {
  list-style-type: none;
  margin-left: 5px;
}
.lista3 li {
  padding-bottom: 15px;
}

h3 {
  color: white;
  padding-left: 40px;
  margin: 5px;
  font-family: "XiaomiBold";
}

/* FOOTER DERECHA CUADROS */
.redes {
  width: 30%;
}

.lista4 {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.icons {
  width: 30px;
  padding-right: 15px;
}

.correo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid white;
  border-radius: 12px;
  margin-left: 40px;
}
.correo p {
  margin: 10px;
}

.icons2 {
  width: 20px;
  height: 20px;
  display: flex;
  align-self: center;
  padding-left: 5px;
}

.descargas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid white;
  border-radius: 12px;
  margin-left: 40px;
}

.arriba {
  display: flex;
  flex-direction: row;
}
.qr {
  width: 80px;
  height: 80px;
  margin: 30px 15px;
}
.store {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
hr {
  color: rgb(127, 126, 126);
  width: 100%;
}
